<div class="container-fluid bg-secondary fixed-bottom" hight="20px">
  <div class="row justify-content-center align-items-center text-white">
    <div class="col-md-auto text-center mx-3">
      <h4 class="text-info">Vieni a trovarci!</h4>
    </div>
    <div class="col-md-auto text-center mx-3">
      <p>Via pippo pluto 33, 80016, Marano di Napoli</p>
    </div>
    <div class="col-md-auto text-center mx-3">
      <p>333 9725110</p>
    </div>
    <div class="col-md-auto text-center mx-3">
      <hr class="d-md-none" />
      <p>autoofficinadifiducia&#64;info.com</p>
      <hr class="d-md-none" />
    </div>
  </div>
</div>
